<% include ../patrials/header.ejs %>
<div class="row mt-1 mb-2">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-users-list" data-toggle="list" href="#list-users" role="tab" aria-controls="users">用户管理</a>
            <a class="list-group-item list-group-item-action" id="list-products-list" data-toggle="list" href="#list-products" role="tab" aria-controls="products">商品管理</a>
        </div>
    </div>
    <div class="col-6">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-users" role="tabpanel" aria-labelledby="list-users-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">姓名</th>
                            <th scope="col">手机号码</th>
                            <th scope="col">注册日期</th>
                            <th scope="col">审核状态</th>
                        </tr>
                    </thead>
                    <tbody>
                    <%users.forEach(function (user) { %>
                        <%if(!user.isAdmin){%>
                        <tr>
                            <td><%= user.username%></td>
                            <td><%= user.phoneNumber%></td>
                            <td><%= user.date.toLocaleString()%></td>
                            <td>
                                <%if(user.status){ %>
                                  已审核
                                <%}else{%>
                                  待审核
                                <button class="btn btn-sm btn-success">通过</button><span>
                                </span><button class="btn btn-sm btn-danger">拒绝</button>
                                <%}%>
                            </td>
                        </tr>
                        <%}%>
                    <%})%>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="list-products" role="tabpanel" aria-labelledby="list-products-list">...</div>
        </div>
    </div>
</div>
<% include ../patrials/footer.ejs %>
